services:
  db:
    image: postgres:15-alpine
    container_name: vicking_db
    environment:
      POSTGRES_USER: vicking
      POSTGRES_PASSWORD: vicking_password
      POSTGRES_DB: vicking_db
    volumes:
      - vicking_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  backend:
    build:
      context: ./BACKEND
    container_name: vicking_backend

    depends_on:
      - db

    volumes:
      # Base de datos persistente
      - ./data:/data
      # Si guardás imágenes
      - ./IMAGENES:/app/IMAGENES

    env_file:
      - .env

    environment:
      - DATABASE_URL=postgresql+asyncpg://vicking:vicking_password@db:5432/vicking_db
      - SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://vicking:vicking_password@db:5432/vicking_db

    ports:
      - "8000:8000"

    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        # el frontend llama al backend por nginx proxy
        - VITE_API_URL=/api/v1

    container_name: vicking_frontend

    ports:
      - "5173:80"

    depends_on:
      - backend

    restart: always

volumes:
  vicking_pgdata:
